.panel {
  min-width: 0;
}

.table {
  font-variant-numeric: tabular-nums;

  th,
  td {
    white-space: nowrap;
  }

  [data-numeric] {
    text-align: right;
  }
}

.row {
  &:nth-of-type(odd) {
    background-color: var(--table-striped-color);
  }
}

.num {
  font-variant-numeric: tabular-nums;
}

.podium {
  gap: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &[data-place="1"] {
    border-color: var(--mantine-color-yellow-5);
  }
}
